@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* taken and expanded upon from css tricks - link in README */
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: black;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}


/******************* BUTTON COLOR/MISC*/
.btn-red {
    color: white;
    background-color: red;
    border-color: red;}

.btn-red:hover{
    background-color:#bb0000;
    border-color: #bb0000;
    color: black;}

.uppercase {text-transform:uppercase;}

/******************* BUTTON COLOR END*/

/******************* NAVIGATION*/
.navbar {
    position: fixed;
    top:0;
    width: 100%;
    background: black;
    z-index: 1;

}

.logo {
    height: 100px;
    width: 10%;
}
.nav-item-list{
    flex-direction: row-reverse;
    text-transform: uppercase;
}

.heading {
    color: red;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 2rem;
    font-family: "anton", sans-serif;
}

.nav-item a {
    color: white !important;
}

.nav-item a:hover {
    color: #f70b0bd5 !important;
}

/******************* NAVIGATION END*/


/******************* JUMBOTRON-HOMEPAGE*/
.jumbotron-home {
    height: 65vh;
    background: url("../image/homepage-hero-image.png") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:double;
    border-bottom:double;
}
.jumbotron-subtext {
    color:#fafafa !important;
    font-size:12px;
    font-family: "arvo",sans-serif;
}

.jumbotron-heading {
    align-items:center;
    justify-content:center;
    padding: 10px;
    font-family: "arvo",sans-serif;
    
}

.cta-section {
    background: rgba(0, 0, 0, 0.7);
}

/******************* JUMBOTRON-HOMEPAGE END*/


/******************* TESTIMONIALS*/

.testimonial-container {
    max-width: 100%;
    height: 120px;
    background: red;
    line-height: 10px;
}

.carousel-item {
    padding: 25px;
}

.testimonial-text {
    font-size: 1rem;
}

.blockquote-footer {
    color: black;
    font-weight: 600;
}

/******************* TESTIMONIALS END*/

/******************* FOOTER*/

.social-container {
  
    background: black;
    padding: 0px;
    border-top:double;
    border-color:white;
    border-width:100%;
}
.footer-paragraph {
    font-family: "Montserrat", sans-serif;
}
.address {
    max-width: 100%;
    line-height: 3px;
    padding: 0;
    padding-top: 20px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size:0.5rem;
  
}

.social {
    
    padding:0;
    padding-top: 18px;
    
}

.social li {
    display: inline;
}


.social i {
    font-size: 200%;
    padding: 5%;
    color: red;
  
}

.contact {
    max-width: 100%;
    line-height: 3px;
    padding: 0;
    padding-top: 20px;
    font-family: "Monsterrat", sans-serif;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    font-size: 0.5rem;
}

.footer-paragraph {
    font-family: "Montserrat", sans-serif;
}

.footer-heading {
    color: red;
}

.contact a {
  
    color: white !important;  
}
.contact a:hover{
    color:red !important;
}
/******************* FOOTER END*/


/******************* MODAL*/
.modal-dialog {
    padding:0px;
    color:black;
    text-align:center;
}

.payment {
    text-align:left;
}

/******************* MODAL END*/

/************* GALLERY*/

.carousel-container {
    border-top:double;
}

.row-eq-height { 
    margin:auto;
    max-width:100%;
    padding:5px;}

.the-gym {
    padding-bottom: 30px;
    font-size:4rem;
}
.gym-container {
    line-height:2px;
}

/******************* CLASSES PAGE*/

.jumbotron-classes {
    height: 60vh;
    background: url("../image/classes-hero-image.png") no-repeat bottom;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top:double;
    border-bottom:double;
}

.classes-jumbotron {
    background: rgba(0, 0, 0, 0.7);
}

.card-container {

    background: url("../image/classes-card-background.png") no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    background: rgba(0,0,0,0.8);
    align-items:top;

}

.card-title {
    text-transform:uppercase;
    font-family: "anton", sans-serif;
    letter-spacing: 3px;
    font-size:1.5rem;
    padding-bottom:20px;
  

}


.card-body {
    padding: 30px;
    line-height: 20px;
    height: 270px;
}

.card-class {
    color:red;
    font-family: "arvo", sans-serif;
    letter-spacing:2px;
}


/******************* CONTACT PAGE*/

.contact-container {
    background: url("../image/contact-background.png") no-repeat center;
    background-size: cover;
    background-position: center;
    height: 900px;
    padding: 0px;
}

.contact-form {
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);

}

.form-btn {
    margin-top: 20px;
    padding: 10px;
    }



.contactus2-container {
    background-color: rgba(255, 254, 254, 0.5);
    height:45vh;
}

.locate-map {
   
    max-height: 70%;
}

/******************* CONTACT PAGE END*/


