@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: black;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}


/******************************* BUTTON COLOR*/
.btn-red {
  color: white;
  background-color: red;
  border-color: red;}

.btn-red:hover{
  background-color:#bb0000;
  border-color: #bb0000;
  color: black;}


/******************************** NAV SECTION*/
.navbar {
  width: 100%;
  background: black;
}

.logo {
  height: 100px;
  width: 10%;
}
.nav-item-list{
  flex-direction: row-reverse;
  text-transform: uppercase;
}

.heading {
  color: red;
  padding-top: 8px;
  padding-left: 10px;
  font-size: 2rem;
  font-family: "anton", sans-serif;
}

.nav-item a {
  color: white !important;
}

.nav-item a:hover {
  color: #f70b0bd5 !important;
}



/******************************** JUMBOTRON - HOMEPAGE*/
.jumbotron-home {
  height: 65vh;
  background: url("../image/man2.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/******************************** TESTIMONIALS*/

.testimonial-container {
  max-width: 100%;
  height: 120px;
  background: red;
  line-height: 10px;
}

.carousel-item {
  padding: 25px;
}

.testimonial-text {
  font-size: 1.2rem;
}

.blockquote-footer {
  color: black;
  font-weight: 600;
}

/********************************* FOOTER/SOCIAL LINKS*/

.social-container {
  
  background: black;
  padding: 0px;
  border-top:double;
  border-color:white;
  border-width:100%;
  max-width: 100%;
  max-height: 100%;
  font-family: "arvo", sans-serif;
}
.footer-paragraph {
    font-family: "Montserrat", sans-serif;
    }
.address {
  max-width: 100%;
  line-height: 3px;
  padding: 0;
  padding-top: 20px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  
}

.social {
    
    padding:0;
    padding-top: 18px;
    
}

.social li {
  display: inline;
}


.social i {
  font-size: 200%;
  padding: 5%;
  color: red;
  
}

.contact {
  max-width: 100%;
  line-height: 3px;
  padding: 0;
  padding-top: 25px;
  font-family: "Monsterrat", sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.footer-paragraph {
  font-family: "Montserrat", sans-serif;
}

.footer-heading {
  color: red;
}


.contact a {
  
  color: white !important;  
}
.contact a:hover{
  color:red !important;
}



/************* GALLERY*/
.row-eq-height { 
    margin:auto;
    max-width:100%;
    padding:5px;}
  
/************* CLASSES PAGE*/

.jumbotron-classes {
  height: 45vh;
  background: url("../image/gym9.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {

  background: url("../image/gym10.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.card {
  background: rgba(0,0,0,0.8);
  align-items:top;

}

.card-title {
    text-transform:uppercase;
    font-family: "anton", sans-serif;
    letter-spacing: 3px;
    font-size:1.5rem;
    padding-bottom:20px;
  

}


.card-body {

padding: 30px;
line-height: 20px;
height: 270px;



}

.card-class {
    color:red;
    font-family: "arvo", sans-serif;
    letter-spacing:2px;
}


/************* CONTACT PAGE*/

.contact-container {
    background: url("../image/gym11.jpg") no-repeat center;
    background-size: cover;
    background-position: center;
    height: 900px;
    padding: 0px;
}

.contact-form {
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);

}

.form-btn {
    margin-top: 20px;
    padding: 10px;
    }


/************* CONTACT PAGE END*/














@media (max-width: 991px) {
    .nav-item-list {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -moz-box-flex: end;
        text-align: center;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 1.15rem;
    }
    
    .nav-item-list li {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -moz-box-flex: end;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        text-transform: uppercase;

    }
  #my-content2 { display: none; }   /* hide it elsewhere */
  #my-content { display: none; }   /* hide it elsewhere */

}

@media (max-width: 575px) {

  #my-content2 { display: none; }   /* hide it elsewhere */
  #my-content { display: none; }   /* hide it elsewhere */

@media (max-width: 320px) {
 #my-content2 { display: none; }   /* hide it elsewhere */
  #my-content { display: none; }   /* hide it elsewhere */

}



