@import url("https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* to stop page overflow and apply font family/color to page*/

html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: black;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
}
.btn-red {
  color: white;
  background-color: red;
  border-color: red;}

p
{font-family: "Montserrat", sans-serif;}

/******************************** NAV SECTION*/
.navbar {
  width: 100%;
  background: black;
}

.logo {
  height: 100px;
  width: 10%;
}

.heading {
  color: red;
  padding-top: 8px;
  padding-left: 10px;
  font-size: 2rem;
  font-family: "anton", sans-serif;
}

.nav-item a {
  color: white !important;
}

.nav-item a:hover {
  color: #f70b0bd5 !important;
}
/******************************** Jumbotron*/
.jumbotron-home {
  height: 65vh;
  background: url("../image/man2.jpg") no-repeat center;
  background-size: cover;

  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.jumbotron-classes {
  height: 45vh;
  background: url("../image/man2.jpg") no-repeat center;
  background-size: cover;

  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/******************************** Testimonials*/

.testimonial-container {
  max-width: 100%;
  height: 120px;
  background: red;
  line-height: 10px;
}

.carousel-item {
  padding: 25px;
}

.testimonial-text {
  font-size: 1rem;
}

.blockquote-footer {
  color: black;
  font-weight: 600;
}

/********************************* Footer/social links*/

.social-container {
  
  background: black;
  max-width: 100%;
  padding: 0px;
  max-height: 100%;
}

.address {
  max-width: 100%;
  line-height: 3px;
  padding: 0;
  padding-top: 25px;
  font-family: "Monsterrat", sans-serif;
  
}

.social {
    
    padding:0;
    padding-top: 18px;
    
}

.social li {
  display: inline;
}


.social i {
  font-size: 200%;
  padding: 5%;
  color: red;
  
}

.contact {
  max-width: 100%;
  line-height: 3px;
  padding: 0;
  padding-top: 25px;
  font-family: "Monsterrat", sans-serif;
}

.footer-heading {
  color: red;
}


.row-eq-height { margin:auto;
max-width:100%;
padding:5px;}


.footer-p a {
  color: white !important;
}
.social-container {
  border-top:double;
  border-color:white;
  border-width:100%;
  max-width: 100%;
  max-height: 100%;}


.card-container {

  height: 100%;
  background: url("../image/man2.jpg") no-repeat center;
  background-size: cover;

  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

}

.card {
  background: rgba(0,0,0,0.5);

}

.card-title {text-transform:uppercase;}




















@media (max-width: 991px) {
    .nav-item-list {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.25rem;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    
    .nav-item-list li {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        text-align: center;
        text-transform: uppercase;
        padding-top: 5px;
        padding-bottom: 5px;
    }
  #my-content2 { display: none; }   /* hide it elsewhere */
  #my-content { display: none; }   /* hide it elsewhere */

}

@media (max-width: 575px) {

  #my-content2 { display: none; }   /* hide it elsewhere */
  #my-content { display: none; }   /* hide it elsewhere */

@media (max-width: 320px) {
 #my-content2 { display: none; }   /* hide it elsewhere */
  #my-content { display: none; }   /* hide it elsewhere */

}



